<div class="section-1" id="section-1">

    <!-- div content -->
    <div class="container-texto">
        <div class="titulo">
            <h1>Escolha sua </h1>
            <h1>opção de</h1>
            <h1> comida <span>favorita :)</span></h1>
            <p>Aproveite nosso cardápio! Escolha o que desejar e recebe em sua casa de forma rápida e segura.</p>
        </div>

        <div class="button-content">
            <button>Ver cardápio</button>
            <button><img src="assets/img/icon/telefone.png" alt=""> (71)987348610</button>
        </div>
        <div class="container-icon">
           <a href="#"><img src="assets/img/icon/instagram.png" alt=""></a> 
           <a href="#"><img src="assets/img/icon/facebook.png" alt=""></a> 
           <a href="#"><img src="assets/img/icon/whatsapp.png" alt=""></a> 
        </div>

    </div>
    <!-- div img -->
    <div class="container-img">
        <div class="bk-img">

        </div>

        <div id="img-hamburguer">
            <img src="assets/img/png/burguer.png" alt="">
        </div>
        <div class="container-menssagem">
            <p>"Entrega rápida e funcionários simpáticos. <br>
                A comida chegou quente e <br>
                muito saborosa!"</p>
                <span>Erivelton Magllhaes</span>

        </div>





    </div>

    <button id="ancora" onclick="ancora()">▲</button>
</div>